body{background-image: url("https://images.ctfassets.net/2h1qowfuxkq7/OCGJQbOJxjekFdX4OLi3D/3bd374ba79b79538f647ef682712bb4e/Start_Your_Daily_Journal_in_2022.jpg?w=1500&h=625&q=85&fm=webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
#Dinners {
    background: none;
    border: none;
}
#container {flex-direction: column;
    border: 0ex solid coral;
    border: 0em crimson;

}


h1 {color: black;
text-align: center;
transform: rotate(20deg);
margin-left: 25%;
text-shadow: 0 0 4px cornflowerblue;
text-decoration-line: underline;
font-size: 800%;
text-shadow: 2px 2px 4px rgb(78, 182, 116);
}
.journal {background-color: white;
    color: red;
    border: 1px solid black;
    justify-items: center;
    font-size: 400%;
}
.entery {-ms-flex-align: center;} 
fieldset {width: 800px;
margin: 20px auto;
}
#journal-entry {width: 400px; height: 200px;} 
fieldset * {vertical-align: middle;}
.Concepts-covered {width: 800px;

    width: 800px; height: 100px;
}
.entryForm__date {
    font-size: 300%;
}
.date {
    font-size: 300%;
    width: 800px; height: 100px;
    
}

.container {
    font-size: 300%;
    
}
#Concepts covered {font-size: 300%;
}
.pet {
    font-size: 300%;
}
