body {
    background-image: url(https://media.istockphoto.com/photos/white-office-desk-with-copy-space-open-notebook-keyboard-coffee-and-picture-id1277758901?k=20&m=1277758901&s=170667a&w=0&h=Cis0NZM86_6oli9k5HftJYcIBC5xuJvZmGfEzx9OQ6Y=);
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

fieldset {
    border: double red;
    font-size: xx-large;
    text-align: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
    margin-bottom: 5%;
    background-color: rgb(198, 165, 126);
}

.start {
    text-align: end;
    text-decoration: underline;
    font-size: 60px;
    text-decoration-style: solid;
    transform: rotate(20deg);
    padding-left: 0%;
    margin-bottom: 10%;
    margin-top: 0%;

}

.rotate {
    margin-bottom: 10%;
    text-align: center;
}

#main-container {
    background-repeat: round;
    background-size: contain;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


#containes1 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.mood {
    margin-top: 50%;
}