body {
    background-image: url(https://img.freepik.com/free-photo/concept-accessories-office-study-space-text_185193-78691.jpg?w=360);
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

fieldset {
    border: double red;
    font-size: xx-large;
    text-align: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
    margin-bottom: 5%;
    background-color: rgb(198, 165, 126);
}

.start {
    text-align: end;
    text-decoration: underline;
    font-size: 60px;
    text-decoration-style: solid;
    transform: rotate(20deg);
    padding-left: 0%;
    margin-bottom: 10%;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.5s;

}

.rotate {
    margin-bottom: 10%;
    text-align: center;
}

#main-container {
    background-repeat: round;
    background-size: contain;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


#containes1 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.mood {
    margin-top: 50%;
}

.jEntry {
    /* border: 1px solid purple; */
    background-color: rgb(206, 156, 213);
    border-radius: 50px;
    min-height: 300px;
    max-height: 300px;
    min-width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
 margin: 40px;
 font-size: 22px;
}
#entries {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blanchedAlmond; */
    margin: 40px;
    justify-content: center;
  }

/* .entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.taco {
    height: 250px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
} */